---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #168FB7;
$brand-color:      #2a7ae2;
$content-background-color: white;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$nav-button-width:  75px;
$nav-border-style: 2px solid black;

// Import partials from the `minima` theme.
@import "minima";


@mixin center_element($center){
    margin-left: $center;
    margin-right: $center;
}
@mixin space_element($amount){
    margin-top: $amount;
    margin-bottom: $amount;
}
@mixin clear_float(){
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

@mixin nav_button_hover(){
    &:hover{
                background: $grey-color-dark;
                color: $grey-color-light;
                text-decoration: none;
            }
}

.page-content{
    padding: 0;
    @include center_element(auto);
    @include space_element(0px);
    background-color: $content-background-color;
    width: $content-width;
    box-shadow: 10px 10px 5px $grey-color-dark;
}
.wrapper{
    max-width: $content-width;
    padding: 0;
    @include space_element(5px);
    div, article{
        margin: 5px;
    }
}

.site-nav{
    float: none;
    display: block;
    background: $grey-color-light;
    box-shadow: 4px 4px 5px $grey-color-dark;
    .trigger{
        display: flex;
        a{
            vertical-align: center;
            border-right: $nav-border-style;
            color: $grey-color-dark;
            width: $nav-button-width;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            @include nav_button_hover();
        }
    }
    .page-link {
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin: 0;
        }
    }
}

.site-footer{
    .wrapper{
        margin: 5px;
    }
}

.site-title{
    float: none;
    a {
        color: $text-color;
        text-align: center;
        display: block;
        max-height: 81px;
        line-height: 81px;
        &:hover{
            color: $text-color;
            text-decoration: none;
        }

    }
    .site-left  { float: left; }
    .site-right { float: right; }
    @include clear_float();
}

.project-summary{
    .project-image{
        float: left;
        height: 128px;
    }
    .project-info{
        float:left;
    }
    @include space_element(100px);
    @include clear_float();
    padding-bottom: 5px;
    background: $grey-color-light;
    padding: 5px;
    box-shadow: 10px 10px 5px $grey-color;
}

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
@include media-query($on-palm) {

    .site-nav{
        .trigger{
            display: none;
            a{
                border-bottom: $nav-border-style;
                border-right: none;
                @include nav_button_hover();
            }
        }
        .page-link{
            margin: 0;
        }
    }
    .site-title{
        .site-left{ display: none;}
        .site-right{ float: left;}
    }

    .page-content{
        width: 100%;
    }
    .wrapper {
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
     .project-summary{
         .project-image{
             width: 15%;
             height: auto;
         }
     }
}
